[[source]]

verify_ssl = true
url = "https://pypi.python.org/simple"
name = "pypi"


[packages]

flask = "*"
flask-jwt-extended = "*"
flask-wtf = "*"
wtforms = "*"
amaboko = "*"
sqlalchemy = "*"
pymysql = "*"


[dev-packages]

pytest = "*"
pylint = "*"
yapf = "*"
pytest-cov = "*"
mock = "*"
funcsigs = "*"
"functools32" = "*"
"enum34" = "*"
singledispatch = "*"
"backports.functools-lru-cache" = "*"
configparser = "*"
flask-sqlacodegen = "*"



[requires]

python_version = '2.7'
