<div class="input-group" id="adv-search">
<input type="text" class="form-control" placeholder="キーワードから探す">
<div class="input-group-btn">
  <div class="btn-group" role="group">
    <div class="dropdown dropdown-lg">
      <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">詳細検索 <span class="caret"></span></button>

      <div class="dropdown-menu dropdown-menu-right" role="menu">
        <form class="form-horizontal">

          <div class="form-group">
            <label for="keyword" class="col-sm-2">キーワード</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="keyword">
            </div>
          </div>

          <div class="form-group">
            <div class="radio col-sm-2 col-sm-offset-2">
              <label>
                <input type="radio" name="optionsRadios" id="wholly" value="option1" checked>すべて</label>
            </div>

            <div class="radio col-sm-8">
              <label>
                <input type="radio" name="optionsRadios" id="partially" value="option2">いずれかのキーワードを含む</label>
            </div>
          </div>

          <div class="form-group" id="exclusionForm">
            <label for="exclusion" class="col-sm-2 col-sm-offset-2">除外キーワード</label>
            <div class="col-sm-7">
              <input type="text" class="form-control" id="exclusion">
            </div>
          </div>

          <div class="form-group">

            <label for="priceRange" class="col-sm-2">価格帯</label>
            <div class="col-sm-4">
              <div class="input-group">
                <span class="input-group-addon">￥</span>
                <input type="text" class="form-control" id="priceRange">
              </div>
            </div>
            <p class="col-sm-1">〜</p>
            <div class="col-sm-4">
              <div class="input-group">
                <span class="input-group-addon">￥</span>
                <input type="text" class="form-control" id="priceRange">
              </div>
            </div>

          </div>

          <div class="form-group">
            <label for="sort" class="col-sm-2">並び替え</label>
            <div class="col-sm-10">
              <button type="button" class="btn btn-primary">標準</button>
              <button type="button" class="btn btn-primary">価格が安い</button>
              <button type="button" class="btn btn-primary">価格が高い</button>
              <button type="button" class="btn btn-primary">新着順</button>
            </div>
          </div>

          <div class="form-group">
            <div class="col-sm-10 col-sm-offset-2">
              <button type="submit" class="btn btn-info" id="conSearch">
                <span class="glyphicon glyphicon-search" aria-hidden="true"></span> この条件で検索する</button>
              <input type="button" value="設定をクリア" class="btn btn-link" onclick="clearAllForm()">
            </div>
          </div>
        </form>
      </div>
    </div>

    <button type="button" class="btn btn-primary"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
  </div>
</div>

</div>
<br>
