<div class="col-sm-3" id="admin_sidebar">
<div class="list-group">
  <a href="/admin/stock/registration" class="list-group-item">入荷登録</a>
  <a href="/admin/stock/list" class="list-group-item">在庫一覧</a>
  <a href="/admin/returned/registration" class="list-group-item">返品登録</a>
  <a href="/admin/returned/list" class="list-group-item">返品一覧</a>
  <a href="/admin/sold/registration" class="list-group-item">売上登録</a>
  <a href="/admin/sold/list" class="list-group-item">売上一覧</a>
  <a href="/admin/exceeded/list" class="list-group-item">取り置き期限超過一覧</a>
</div>
</div>
