<div class="col-sm-2" id="admin_sidebar">
<div class="list-group">
  <a href="{{ url_for('admin_main.dashboard') }}" class="list-group-item">TOP</a>
  <a href="{{ url_for('admin_main.register_stock') }}" class="list-group-item">入荷登録</a>
  <a href="{{ url_for('admin_main.list_stock') }}" class="list-group-item">在庫一覧</a>
  <a href="{{ url_for('admin_main.register_returned') }}" class="list-group-item">返品登録</a>
  <a href="{{ url_for('admin_main.list_returned') }}" class="list-group-item">返品一覧</a>
  <a href="{{ url_for('admin_main.register_sold') }}" class="list-group-item">売上登録</a>
  <a href="{{ url_for('admin_main.list_sold') }}" class="list-group-item">売上一覧</a>
  <a href="{{ url_for('admin_main.register_reserved') }}" class="list-group-item">取置予約</a>
  <a href="{{ url_for('admin_main.list_reserved') }}" class="list-group-item">取置予約一覧</a>
  <a href="{{ url_for('admin_main.book_list') }}" class="list-group-item">書籍一覧</a>
</div>
</div>
