{% extends "common.html" %} <!DOCTYPE html>
<html lang="ja">
  <head>

    {% block head %}
    {{ super() }}
    {% endblock %}

  </head>

  <body>

    {% block header %}
    {{ super() }}
    {% endblock %}

    {% block content %}
    {{ super() }}

    <div class="container-fluid">
      <div class="row">

        {% include "components/sidebar.html" %}

        <div class="col-sm-9">
          <blockquote>
            <p>警告者リスト</p>
          </blockquote>

          <!-- TODO: 冗長なので抽象化 -->
          <h3 class="text-danger">7日経過</h3>
          <table class="table table-striped table-bordered table-hover">
            <thead>

              <tr>
                <th colspan=2>顧客情報</th>
                <th colspan=3>書籍情報</th>
                <th colspan=1>取り置き情報</th>
              </tr>
              <tr>
                <th>氏名</th>
                <th>メールアドレス</th>
                <th>本のタイトル</th>
                <th>著者</th>
                <th>ISBN</th>
                <th>取り置き開始日</th>
              </tr>
            </thead>
            <tbody>
              {% for user in admonition_users_over_7_days %}
              <tr>
                <td> {{user.name}} </td>
                <td> {{user.email}} </td>
                <td> {{user.latest_order.book.title}} </td>
                <td> {{user.latest_order.book.author}} </td>
                <td> {{user.latest_order.book.isbn13}} </td>
                <td> {{user.latest_order.latest_order_event.created_at.strftime("%Y-%m-%d")}} </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>

          <br>

          <h3 class="text-warning">3日経過</h3>
          <table class="table table-striped table-bordered table-hover">
            <thead>

              <tr>
                <th colspan=2>顧客情報</th>
                <th colspan=3>書籍情報</th>
                <th colspan=1>取り置き情報</th>
              </tr>
              <tr>
                <th>氏名</th>
                <th>メールアドレス</th>
                <th>本のタイトル</th>
                <th>著者</th>
                <th>ISBN</th>
                <th>取り置き開始日</th>
              </tr>
            </thead>
            <tbody>
              {% for user in admonition_users_over_3_days %}
              <tr>
                <td> {{user.name}} </td>
                <td> {{user.email}} </td>
                <td> {{user.latest_order.book.title}} </td>
                <td> {{user.latest_order.book.author}} </td>
                <td> {{user.latest_order.book.isbn13}} </td>
                <td> {{user.latest_order.latest_order_event.created_at.strftime("%Y-%m-%d")}} </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>

        </div>

      </div>
    </div>

    {% endblock %}

    {% block footer %}
    {{ super() }}
    {% endblock %}

  </body>
</html>

utogaw
