{% extends "common.html" %}
<!DOCTYPE html>
<html lang="ja">
  <head>

    {% block head %}
    {{ super() }}
    {% endblock %}

  </head>

  <body>

    {% block header %}
    {{ super() }}
    {% endblock %}

    {% block content %}
    {{ super() }}

    <div class="container-fluid">
      <div class="row">

        {% include "components/sidebar.html" %}


        <div class="col-sm-10">
          <blockquote>
            <p>作品概要</p>
          </blockquote>

          <div class="col-sm-4" id="book-img">
            <div class="frame">
              <img src="./picture/05.jpg" alt="本の画像" class="shadow">
            </div>
          </div>

          <div class="col-sm-5" id="book-info">
            <div id="intro">
              ここに本の概要
            </div>

          </div>
        </div>
      </div>

      {% endblock %}

      {% block footer %}
      {{ super() }}
      {% endblock %}

  </body>
</html>

