{% extends "common.html" %}
<!DOCTYPE html>
<html lang="ja">
  <head>

    {% block head %}
    {{ super() }}
    {% endblock %}

  </head>

  <body>

    {% block header %}
    {{ super() }}
    {% endblock %}

    {% block content %}
    {{ super() }}

    <div class="container">
      <div class="row">

        {% include "components/sidebar.html" %}

        <div class="col-sm-9">
          <blockquote>
            <p>取り置き期限超過一覧</p>
          </blockquote>
          <table class="table table-striped table-bordered table-hover" id="page-1">
            <thead>
              <tr>
                <th>#</th>
                <th>Title</th>
                <th>操作</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>1</td>
                <td>aaaaaaaaa</td>
                <td class="col-md-2">
                  <button id="edit" class="btn btn-default navbar-btn">編集</button>
                  <button id="deleat" class="btn btn-danger navbar-btn">削除</button>
                </td>
              </tr>
              <tr>
                <td>2</td>
                <td>bbbbbbbbb</td>
                <td>
                  <button id="edit" class="btn btn-default navbar-btn">編集</button>
                  <button id="deleat" class="btn btn-danger navbar-btn">削除</button>
                </td>
              </tr>
              <tr>
                <td>3</td>
                <td>ccccccccc</td>
                <td>
                  <button id="edit" class="btn btn-default navbar-btn">編集</button>
                  <button id="deleat" class="btn btn-danger navbar-btn">削除</button>
                </td>
              </tr>
              <tr>
                <td>4</td>
                <td>ddddddddd</td>
                <td>
                  <button id="edit" class="btn btn-default navbar-btn">編集</button>
                  <button id="deleat" class="btn btn-danger navbar-btn">削除</button>
                </td>
              </tr>
              <br>
            </tbody>
          </table>
          <nav>
            <ul class="pagination pagination-lg">
              <li>
                <a href="#" aria-label="前のページへ">
                  <span aria-hidden="true">«</span>
                </a>
              </li>
              <li class="active"><a href="#">1</a></li>
              <li><a href="#">2</a></li>
              <li><a href="#">3</a></li>
              <li><a href="#">4</a></li>
              <li><a href="#">5</a></li>
              <li>
                <a href="#" aria-label="次のページへ">
                  <span aria-hidden="true">»</span>
                </a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>

    {% endblock %}

    {% block footer %}
    {{ super() }}
    {% endblock %}

  </body>
</html>

