{% extends "common.html" %}
<!DOCTYPE html>
<html lang="ja">
  <head>

    {% block head %}
    {{ super() }}
    {% endblock %}

  </head>

  <body>

    {% block header %}
    {{ super() }}
    {% endblock %}

    {% block content %}
    {{ super() }}

    <div class="container">
      <div class="row">

        {% include "components/sidebar.html" %}

        <div class="col-sm-10">
          <blockquote>
            <p>売上登録</p>
          </blockquote>

          <form>
            <div id="form_ISBN">
              <div class="form-group">
                <label for="InputISBN">ISBN (input)</label>
                <input type="text" class="form-control" id="InputISBN" placeholder="Input ISBN">
              </div>

              <div class="form-group">
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal-example">
                  ISBN入力
                </button>
              </div>
            </div>	    
          </form>    

          <form>
            <div class="form-group">
              <label for="editISBN">ISBN</label>
              <input type="text" class="form-control" id="editISBN" readonly="readonly" value="0000000000000">
            </div>

            <div class="form-group">
              <label for="editBookTitle">書名</label>
              <input type="text" class="form-control" id="editBookTitle" readonly="readonly" value="aaa aaaa">
            </div>

            <div class="form-group">
              <label for="editAuthorName">著者名</label>
              <input type="text" class="form-control" id="editAuthorName" readonly="readonly" value="bbbbbb">
            </div>

            <div class="form-group">
              <label for="editPublicationDate">発行年月日</label>
              <input type="text" class="form-control" id="editPublicationDate" readonly="readonly" value="20xx/xx/xx">
            </div>

            <label for="editPrice">税込価格</label>
            <div class="form-group input-group">
              <span class="input-group-addon">¥</span>
              <input type="text" class="form-control" id="editPrice" readonly="readonly" value="2000">
            </div>

            <div class="form-group">
              <label for="editCompany">出版社</label>
              <input type="text" class="form-control" id="editCompany" readonly="readonly" value="cccccc">
            </div>

            <div class="form-group">
              <label for="editArrivalDate">入荷日</label>
              <input type="text" class="form-control" id="editArrivalDate" readonly="readonly" value="20yy/yy/yy">
            </div>

            <div class="form-group">
              <label for="editShelfCode">棚コード</label>
              <input type="text" class="form-control" id="editShelfCord" readonly="readonly" value="dddddddd">
            </div>

            <div class="form-group">
              <label for="editSalesDate">売上日</label>
              <input type="text" class="form-control datepicker" id="editSalesDate">
            </div>

            <div class="form-group">
              <label for="editQuantity">売上数</label>
              <input type="text" class="form-control" id="editQuantity">
            </div>

            <div class="form-group">
              <label for="Remarks">備考</label>
              <textarea class="form-control" rows="3" id="Remarks"></textarea>
            </div>

          </form>

          <button type="button" class="btn btn-success" id="registration" data-toggle="modal" data-target="#ResultMessage">登録</button>

          <div class="modal fade" id="ResultMessage" tabindex="-1">
            <div class="modal-dialog">

              <div class="modal-content">

                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                  </button>
                  <ol class="breadcrumb">
                    <li><a href="./admin_arr_regi.html">売上登録</a></li>
                    <li class="active">エラー</li>
                  </ol>

                  <ol class="breadcrumb">
                    <li><a href="./admin_arr_regi.html">売上登録</a></li>
                    <li class="active">登録完了</li>
                  </ol>
                </div>

                <div class="modal-body">
                  <div class="alert alert-danger" role="alert"><strong>error</strong>: 登録情報が正しく入力されていません。	    
                  </div>

                  <div class="alert alert-success" role="alert"><strong>success</strong>: 登録が完了しました。	    
                  </div>
                </div>

                <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">閉じる</button>
                </div>
              </div>
            </div>


          </div>
        </div>
      </div>

      {% endblock %}

      {% block footer %}
      {{ super() }}
      {% endblock %}

  </body>
</html>
